*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #d1d1d1;
}

footer{
  background: #cafe99;
  padding: 20px;
}
/* tablet */
@media screen and (max-width: 1025px){
  div.menuUp a{
    font-size: 24px;
    padding: 32px;
  }
}
@media screen and (max-width: 768px){
  div.container{
    display: block;
  }
  div.menu{
    display: none;
  }

  div.menuUp a{
    font-size: 20px;
    padding: 33px;
  }

  div.left p{
    font-size: 18px;
  }

  div.left h2{
    font-size: 40px;
  }
}
/* Phone */
/* Iphone */

@media screen and (max-width: 415px){
  div.menuUp a{
    font-size: 12px;
    padding: 20px;
  }

  div.container{
    margin: 0px;
    margin-top: 20px;
    background: white;
  }

  div.left{
    margin: 0;
    padding: 10px;
  }

  div.left h2{
    font-size: 24px;
    padding: 15px;
    left: -10px;
    width: 90%;
  }

  div#menuUpE{
    padding: 26px;
  }
}

/* size 300 */

@media screen and (max-width: 376px) {
  div.menuUp a{
    font-size: 12px;
    padding: 15px 16.61px;
  }
  div#menuUpE{
    padding: 21px;
  }

}

#menuUpE{
  padding: 45px;
  border-bottom: 3px solid #FFC300;
  box-shadow: 0px 6px 0px #B41F57;
  background: #2C2833;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.menuUp{
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
}

.menuUp a{
  font-size: 18px;
  font-family: "Myriad pro", sans-serif;
  text-decoration: none;
  color: white;
  z-index: 2;
  transition: 0.3s all;
  padding: 35px 35px;
  border-bottom: 3px;
  float: left;
}

.menuUp a:hover{
  background: #FFC300;
}

header{
  margin: auto;
  background-image: url('https://www.gstatic.com/earth/social/00_generic_facebook-001.jpg');
  background-size: cover;
  display: flex;
  z-index: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1{
  font-size: 120px;
  color: white;
  font-family: 'calibri', sans-serif;
}

header p{
  color: white;
  font-size: 18px;
  font-family: 'myriad pro', sans-serif;
  letter-spacing: 5px;
}

.menu{
  margin-top: 20px;
}

.menu a{
  font-size: 16px;
  font-family: 'myriad pro', sans-serif;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.menu a:hover{
  transition: 0.3s all;
  background: #FFC300;
  color: #353641;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 3px solid #B41F57;
}

.container{
  display: grid;
  font-family: 'lato', sans-serif;
  grid-template-columns: 70% 30%;
  margin: 35px;
}

.left{
  background: white;
  margin: 10px;
  padding: 35px;
}

.right{
  background: white;
  margin: 10px;
  padding: 35px;
}

.content h2{
  font-size: 60px;
  color: white;
  padding: 35px;
  background: #F72E16;
  position: relative;
  left: -50px;
  margin-bottom: 20px;
  box-shadow: 15px 15px 35px rgba(0,0,0,0.3);
}

.content p{
  font-size: 14.5px;
  text-align: justify;
  text-align-last: left;
  margin: 20px;
  text-indent: 7%;
}

.content1{
  padding: 10px 0px;
}

.content1 h3{
  background: #F72E16;
  padding: 20px;
  font-size: 24px;
  color: white;
  box-shadow: 15px 15px 35px rgba(0,0,0,0.3);
}

.content1 a{
  text-decoration: none;
  color: black;
}

.number{
  font-size: 34px;
  font-family: 'tahoma', sans-serif;
  color: orange;
  float: left;
  height: 40px;
  padding: 15px 10px;
}

li{
  list-style: none;
  margin-top: 10px;
  padding: 15px 5px;
}

.content1 li:hover{
  background: green;
}
